layout {
    pane split_direction="vertical" {
        pane edit="src/lib.rs"
        pane command="bash" {
            args "-c" "cargo build && echo 'Build OK!' || echo 'Build FAILED'"
        }
    }
    pane size=1 borderless=true {
        plugin location="file:target/wasm32-wasip1/debug/zellij-tab-rename.wasm" {
            // source "cwd"          // "cwd" or "process"
            // format "basename"     // "basename", "full", "tilde", "segments:2"
            // max_length "25"
            // truncate_side "right" // "left" or "right"
            // prefix ""
            // suffix ""
            // exclude "/tmp:/var"
        }
    }
}
